@model PFAVersionFinale.Models.Vote
@{
    ViewData["Title"] = "AddVote";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ajouter Service</title>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
		}

		body {
			color: #fff;
			display: flex;
			height: 100vh;
			justify-content: center;
			align-items: center;
			background: linear-gradient(135deg,#0000FF,#79F8F8);
			padding: 10px;
		}

		.container {
			max-width: 700px;
			width: 100%;
			padding: 25px 30px;
			border-radius: 25px;
			background: linear-gradient(135deg,#1E7FCB,#007FFF);
		}

			.container .heading {
				font-size: 25px;
				font-weight: 500;
				position: relative;
				text-align: center;
				padding: 0 0 20px 0;
			}

				.container .heading::before {
					content: '';
					position: absolute;
					height: 3px;
					left: 0;
					bottom: 0;
					width: 100%;
					background: linear-gradient(135deg,#0000FF,#79F8F8);
				}

			.container form .card-details {
				margin-top: 25px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

		form .card-details .card-box {
			width: calc(100% / 2 - 20px);
			margin-bottom: 15px;
		}

		.card-details .card-box .details {
			display: block;
			font-weight: 500;
			margin-bottom: 5px;
		}

		.card-details .card-box input {
			height: 45px;
			width: 100%;
			outline: none;
			border-radius: 5px;
			border: 1px solid #ccc;
			padding-left: 15px;
			font-size: 16px;
			border-bottom: 2px;
			transition: all 0.3s ease;
		}

			.card-details .card-box input:focus,
			.card-details .card-box input:valid {
				border-color: #9b59b6;
			}

		form .circal-form .circal-title {
			font-size: 20px;
			font-weight: 500;
			border-bottom: 2px solid;
		}

		form .circal-form .category {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		form .button {
			text-align: center;
		}

			form .button input {
				padding: 10px 0;
				margin-top: 10px;
				height: 100%;
				width: 50%;
				outline: none;
				border: none;
				font-size: 18px;
				color: #fff;
				font-weight: 500;
				border-radius: 5px;
				letter-spacing: 1px;
				background: linear-gradient(135deg,#0000FF,#79F8F8);
			}
	</style>
</head>
<body>
	<div class="container">
		<div class="heading">Information sur le Service</div>
		<form asp-action="AddVote" method="post" asp-controller="Vote">
			<div class="card-details">
				<div class="form-group">
					<label asp-for="DateVote" class="control-label"></label>
					<input asp-for="DateVote" class="form-control" />
					<span asp-validation-for="DateVote" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="NoteVote" class="control-label"></label>
					<input asp-for="NoteVote" class="form-control" />
					<span asp-validation-for="NoteVote" class="text-danger"></span>
				</div>
			</div>
			<div class="btn btn-primary">
				<a asp-action="IndexServices" asp-controller="Services">Add</a>
			</div>
		</form>
	</div>
</body>
</html>